<div class="layout">
    <div class="layout__media-type-selection" [ngClass]="additionalClass">
        <button
          class="layout__media-type-button"
          [ngClass]="mediasType === 'movie' ? 'on' : ''"
          (click)="mediaChange('movie')"
          i18n="@@main-page-layout.movies"
        >Movies</button>
        <button
          class="layout__media-type-button"
          [ngClass]="mediasType === 'tv' ? 'on' : ''"
          (click)="mediaChange('tv')"
          i18n="@@main-page-layout.tv"
        >TV Shows</button>
        <ng-content select="[search-bar]">
        </ng-content>
    </div>
    <ng-content select="[hook]">
      </ng-content>
    <div class="layout__medias-list" [ngClass]="additionalClass">
      <ng-content select="[results-count]">
      </ng-content>
      <ng-container *ngIf="mediasList">
        <app-media-grid
          *ngIf="mediasList && mediasList.length"
          [mediasList]="mediasList"
          [mediasType]="this.mediasType"
          ></app-media-grid>
      </ng-container>
      <app-pagination #paginator [totalPages]="totalPages" [currentPageIndex]="1" (pageChanged)="changePage($event)"></app-pagination>
    </div>
</div>
