.title-div {
  width: fit-content;
  color: #4B515D;
  margin: 20px auto 70px;
}

.title-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 30px;
  width: 30px;
  vertical-align: top;
  margin-right: 25px;
  font-size: 40px;
}

.search-icon {
  color: #4B515D;
}

.medias-list {
  max-width: 1150px;
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
  min-height: calc(100vh - 200px);
}

.radio-group {
  display: flex;
  position: absolute;
  top: -40px;
  left: 10px;
  width: 100%;
  color: #4B515D;
}

.radio-group .radio-button {
  margin-right: 10px;
}

.radio-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-button-div mat-icon {
  margin-right: 30px;
}

.warning {
  padding-top: 25%;
  color: #4B515D;
  text-align: center;
}

.paginator {
  position: absolute;
  left: 10px;
  bottom: -56px;
  width: calc(100% - 20px);
}
