<div class="hook">
<ng-container *ngIf="currentMedia$ | async as currentMedia">
  <ng-container *ngIf="currentMediaCredits$ | async as currentMediaCredits">
      <img class="hook__backdrop" *ngIf="currentMedia.backdrop_path" [src]="currentMedia.backdrop_path | tmdbImgPath">
      <div class="hook__media-view">
        <div *ngIf="mediaType === 'movie'; else tvLabel" class="hook__media-type" i18n="@@hook.movies">Movies</div>
        <ng-template #tvLabel>
          <div class="hook__media-type" i18n="@@hook.tv">TV Shows</div>
        </ng-template>
        <h1 class="hook__title">{{ currentMedia.title ? currentMedia.title : currentMedia.name }}<p class="hook__popularity">{{ currentMedia.vote_average }}</p></h1>
        <p class="hook__overview">{{ currentMedia.overview }}</p>
        <div class="hook__release-date">
          <span class="hook__info-label" i18n="@@hook.release-date">Released on:</span>
          {{ (currentMedia.release_date ? currentMedia.release_date : currentMedia.first_air_date)| tmdbDate:'YYYY' }}
        </div>
        <div class="hook__duration">
          <span class="hook__info-label" i18n="@@hook.duration">Duration:</span>
          {{ currentMedia.runtime ? currentMedia.runtime : currentMedia.episode_run_time }} minutes
        </div>
        <div class="hook__director-name">
          <span class="hook__info-label" i18n="@@hook.directorName" *ngIf="currentMediaCredits.directorName">Directed by:</span>
          {{ currentMediaCredits.directorName }}
        </div>

        <div class="hook__cast">
          <span class="hook__info-label" i18n="@@hook.with">With:</span>
          <ng-container *ngIf="currentMediaCredits.actorsNames as actorsNames">
            <span class="hook__actor" *ngFor="let actorName of actorsNames; let last = last">{{ actorName }}<ng-container *ngIf="!last">, </ng-container></span>
          </ng-container>
        </div>
      </div>
      <ng-container *ngIf="currentMedia">
        <app-list-buttons class="hook__actions" [mediaType]="mediaType" [currentMedia]="currentMedia"></app-list-buttons>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
