.hook {
  height: 613px;
  position: relative;
  background-color: #121212;
  padding-left: 186px;
  padding-top: 156px;
}

.hook::after {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent linear-gradient(270deg, #00000000 0%, #121212 100%) 0% 0% no-repeat padding-box;
  content: '';
  width: 100%;
  height: 100%;
  opacity: 1;
}

img {
  min-width: 100%;
  max-height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
}

.media-view {
  color: white;
  font-size: 13px;
  position: relative;
  width: 50%;
  z-index: 10;
  margin-bottom: 17px;
}

.actor-name-div,
.actor-name-div .actor-name,
.actor-name-div .actor-name-comma,
.with {
  display: inline-block;
  margin: 0;
}
.actor-name-div .actor-name-comma,
.with {
  margin-right: 5px;
}

.with {
  font-weight: bold;
}

p, h1 {
  margin: 5px 0;
}

.title {
  font-size: 72px;
  font-weight: bold;
}

.cast {
  width: 575px;
}

.overview {
  font-size: 12px;
}

.media-type {
  color: #918E8E;
  font-size: 11px;
}
