<div
  *ngIf="currentMedia"
  class="list-buttons__buttons">
  <app-list-button
  class="list-buttons__button-component"
  i18n-label="@@list-buttons.ever-seen"
  label="Ever seen"
  listName="seen"
  [mediaId]="currentMedia.id"
  (buttonClicked)="updateList($event)"
  [isSelected]="seen$ | async"
  ></app-list-button>
<app-list-button
  class="list-buttons__button-component"
  i18n-label="@@list-buttons.to-see"
  label="To see"
  listName="mustSee"
  (buttonClicked)="updateList($event)"
  [mediaId]="currentMedia.id"
  [isSelected]="mustSee$ | async"
></app-list-button>
</div>
