.poster {
  width: auto;
  height: 445px;
  margin: 71px 43px 71px 91px;
  z-index: 10;
}
.media-details {
  display: flex;
  position: relative;
  background-color: #121212;
}

.backdrop {
  min-width: 100%;
  max-height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0.15;
}

.media-details .media-infos {
  width: 100%;
  margin-left: 10px;
  color: #ffffff;
  position: relative;
  margin-top: 71px;
  font-size: 13px;
  padding-right: 32px;
}

.media-details .media-infos .media-type {
  font-size: 11px;
  color: #918E8E;
  margin-bottom: 15px;
}

.media-details .media-infos .media-title {
  margin-top: 0;
  font-size: 36px;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 0;
}

.media-details .media-infos .media-title .popularity {
  font-size: 22px;
  font-weight: bold;
  display: inline;
  vertical-align: middle;
  margin-left: 44px;
}

.media-details .media-infos .director-div {
  margin-bottom: 13px;
}
.media-details .media-infos .director-prefix {
  font-weight: bold;
  margin-right: 5px;
  display: inline;

}
.media-details .media-infos .director-name {
  margin-top: 5px;
  display: inline;
}

.close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #ffffff;
  cursor: pointer;
  font-size: 25px;
}

.actor-name-div,
.actor-name-div .actor-name,
.actor-name-div .actor-name-comma,
.with {
  display: inline-block;
  margin: 0;
}
.actor-name-div .actor-name-comma,
.with {
  margin-right: 5px;
}

.with {
  font-weight: bold;
}

.overview {
  font-style: italic;
  max-width: 526px;
}

.media-infos app-list-buttons {
  position: absolute;
  left: 0;
  bottom: 71px;
}
