<div class="media-details">
  <img class="backdrop" [src]="mediaDetails.backdrop_path | tmdbImgPath">
  <img class="poster" *ngIf="mediaDetails.poster_path" [src]="mediaDetails.poster_path | tmdbImgPath" alt="Media poster">
  <div class="media-infos">
    <p class="media-type">{{ mediaType.label }}</p>
    <h1 class="media-title">{{ mediaDetails.title ? mediaDetails.title : mediaDetails.name }}<p class="popularity">{{ mediaDetails.vote_average }}</p></h1>
    <p><b i18n="@@media-details.release-date">Released on:</b> {{ (mediaDetails.release_date ? mediaDetails.release_date : mediaDetails.first_air_date) | tmdbDate:'YYYY' }}</p>
    <p><b i18n="@@media-details.duration">Duration:</b> {{ mediaDetails.runtime ? mediaDetails.runtime : mediaDetails.episode_run_time }} minutes</p>
    <div class="director-div" *ngIf="mediaBestCredits && mediaBestCredits.directorName">
      <p class="director-name"><b i18n="@@media-details.director-name">Directed by:</b> {{mediaBestCredits.directorName}}</p>
    </div>
    <ng-container *ngIf="mediaBestCredits && mediaBestCredits.actorsNames">
      <p class="with" i18n="@@media-details.with">With:</p>
      <div class="actor-name-div" *ngFor="let actorName of mediaBestCredits.actorsNames; index as i">
        <p class="actor-name">{{actorName}}</p>
        <p class="actor-name-comma" *ngIf="i < mediaBestCredits.actorsNames.length - 1">,</p>
      </div>
    </ng-container>
    <p class="overview">{{mediaDetails.overview}}</p>
    <app-list-buttons [currentMedia]="this.mediaDetails"></app-list-buttons>
  </div>
  <mat-icon class="close-icon" (click)="closeDialog()">close</mat-icon>
</div>
