img {
  width: 30%;
  height: 100%;
}
.media-details {
  display: flex;
  position: relative;
}

.media-details .media-infos {
  width: 100%;
  margin-left: 10px;
  color: #4B515D;
  position: relative;
}

.media-details .media-infos .media-title {
  margin-top: 0;
  font-size: 26px;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 0;
}

.media-details .media-infos .director-div {
  margin-top: 5px;
  margin-bottom: 20px;
}
.media-details .media-infos .director-prefix {
  font-weight: bold;
  margin-right: 5px;
  display: inline;

}
.media-details .media-infos .director-name {
  margin-top: 5px;
  display: inline;
}

.close-icon {
  position: absolute;
  top: 0;
  right: 20px;
  color: #4B515D;
  cursor: pointer;
  font-size: 40px;
}

.actor-name-div,
.actor-name-div .actor-name,
.actor-name-div .actor-name-comma,
.with {
  display: inline-block;
  margin: 2px 0;
}
.actor-name-div .actor-name-comma,
.with {
  margin-right: 5px;
}

.with {
  font-weight: bold;
}

.overview-div {
  margin-top: 20px;
}

.overview-div .overview {
  font-style: italic;
  display: inline;
}

.overview-div .overview-prefix {
  font-weight: bold;
  display: inline;
  margin-right: 5px;
}

.rating {
  position: absolute;
  bottom: 0;
  margin-bottom: -15px;
  left: 50%;
}
