<app-main-page-layout
  [mediasList]="mediasList$ | async"
  (mediaChanged)="changeType($event)"
  (pageChanged)="changePage($event)"
  [totalResults]="totalResults"
  additionalClass="margin">
  <div search-bar color="primary" class="search-bar">
    <input
    matInput
    placeholder="Search by title"
    i18n-placeholder="@@media-research.research-placeHolder"
    [(ngModel)]="mediaResearch"
    type="text"
    name="mediaResearch"
    id="mediaResearch"
    (ngModelChange)="this.mediaResearchUpdate.next($event)"
    onfocus="this.placeholder = ''"
    onblur="this.placeholder = 'Search by title'"
    >
    <mat-icon class="search-icon" matSuffix>search</mat-icon>
  </div>
</app-main-page-layout>
