.not-added {
  color: white;
  background-color: #121212;
  border: 1px solid #505050;
}

.already-added {
  color: black;
  background-color: #ffffff;
  border: none;
}

.list-item_icon {
  margin-left: 5px;
}

.list-item_icon,
.list-item_label {
  display: inline;
  vertical-align: middle;
}

button {
  width: 103px;
  height: 35px;
  z-index: 10;
  border-radius: 4px;
  margin-right: 11px;
  cursor: pointer;
}

button:focus {
  outline: none;
}
