.list-button__button--not-added {
  color: $color-common-text;
  background-color: $color-background;
  border: 1px solid $color-borders;
}

.list-button__button--already-added {
  color: $color-background;
  background-color: $color-common-text;
  border: none;
}

.list-button__button {
  width: 103px;
  height: 35px;
  z-index: 10;
  border-radius: 4px;
  margin-right: 11px;
  cursor: pointer;
}

.list-button__button:focus {
  outline: none;
}
