.media-details__poster {
  width: auto;
  height: 445px;
  margin: 71px 43px 71px 91px;
  z-index: 10;
  border-radius: 4px;
}

.media-details__poster-placeholder {
  height: 445px;
  min-width: 297px;
  margin: 71px 43px 71px 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-img-placeholder;
  border-radius: 4px;
}

.media-details__poster-placeholder-img {
  color: $color-img-placeholder;
  width: 50px;
  height: 50px;
}

.media-details {
  display: flex;
  position: relative;
  background-color: $color-background;
}

.media-details__backdrop {
  min-width: 100%;
  max-height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0.15;
}

.media-details__infos {
  width: 100%;
  margin-left: 10px;
  color: $color-common-text;
  position: relative;
  margin-top: 71px;
  font-size: 13px;
  padding-right: 32px;
}

.media-details__type {
  font-size: 11px;
  color: $color-media-type;
  margin-bottom: 15px;
}

.media-details__title {
  margin-top: 0;
  font-size: 36px;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 15px;
}

.media-details__popularity {
  font-size: 22px;
  font-weight: bold;
  display: inline;
  vertical-align: middle;
  margin-left: 44px;
}

.media-details__director-prefix {
  font-weight: bold;
  margin-right: 5px;
  display: inline;

}
.media-details__director-name {
  display: inline;
}

.media-details__close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  color: $color-common-text;
  cursor: pointer;
  font-size: 25px;
}

.media-details__release-date,
.media-details__duration {
  margin-bottom: 10px;
}

.media-details__cast {
  width: 575px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.media-details__info-label {
  font-weight: bold;
  margin-right: 3px;
}

.media-details__overview {
  max-width: 526px;
}

.media-details__buttons {
  position: absolute;
  left: 0;
  bottom: 71px;
}
