.media__vote {
  position: absolute;
  top: 8px;
  right: 12px;
  color: white;
  margin: 0;
  font-weight: bold;
  font-size: 22px;
}

.media__poster {
  height: 100%;
  width: auto;
}

.media__poster-placeholder {
  height: 272px;
  min-width: 184px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-img-placeholder;
  border-radius: 4px;
}

.media__poster-placeholder-img {
  color: $color-img-placeholder;
  width: 50px;
  height: 50px;
}

.media__infos {
  margin-left: 27px;
  position: relative;
  color: $color-common-text;
  font-size: 13px;
}

.media__type {
  font-size: 11px;
  color: #918E8E;
  margin-bottom: 15px;
}
.media__details-link {
  text-decoration: underline;
  cursor: pointer;
}

.media__title {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
}

.media__release-date {
  display: inline;
}

.media__overview {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 55px;
  margin-right: 41px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.media__buttons {
  position: absolute;
  left: 0;
  bottom: 0;
}
