.navbar {
  background-color: $color-background;
  padding-left: 139px;
  display: flex;
  align-items: center;
  border-bottom: 1px $color-borders solid;
}

.navbar__title {
  color: $color-common-text;
  font-family: roboto;
  font-size: 35px;
  margin: 16px 45px 16px 0;
  font-weight: normal;
}
