img {
  height: 100%;
  width: auto;
}

.media-infos {
  margin-left: 10px;
  width: 100%;
  position: relative;
}

.media-infos p {
  margin-bottom: 0;
  margin-top: 0;
  color: #4B515D;
}

.media-infos button mat-icon {
  margin-left: 5px;
}

.media-infos .media-title {
  margin-top: 0;
  font-size: 26px;
  font-weight: bold;
  color: #4B515D;
  margin-bottom: 10px;
}

.media-infos .media-infos-head {
  display: flex;
  justify-content: space-between;
}

.media-infos .infos-icon {
  font-size: 30px;
  color: #bfbfbf;
  margin-right: 15px;
}

.media-infos .infos-icon.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}
