img {
  height: 100%;
  width: auto;
}

.media_infos {
  margin-left: 10px;
  width: 100%;
  position: relative;
}

.media_infos p {
  margin-bottom: 0;
  margin-top: 0;
  color: #4B515D;
}
.media_infos .list_item_icon,
.media_infos .list_item_label {
  color: #00C851;
  display: inline;
  vertical-align: middle;
}

.media_infos button {
  color: white;
  background-color: #4B515D;
}

.media_infos .list_item_icon,
.media_infos button mat-icon {
  margin-left: 5px;
}

.media_infos .list_item_div.must_see,
.media_infos .must_see_button {
  margin-top: 10px;
}
.media_infos .list_item_div.seen,
.media_infos .already_seen_button {
  margin-top: 20px;
}

.media_infos .media_title {
  margin-top: 0;
  font-size: 26px;
  font-weight: bold;
  color: #4B515D;
  margin-bottom: 10px;
}

.media_infos .media_infos_head {
  display: flex;
  justify-content: space-between;
}

.media_infos .infos_icon {
  font-size: 30px;
  color: #4B515D;
  margin-right: 15px;
}

.media_infos .infos_icon.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}
