<img [src]="currentMovie.poster_path" alt="Movie poster">
<div class="movie_infos">
  <div class="movie_infos_head">
    <p class="movie_title">{{currentMovie.title}}</p>
    <mat-icon class="infos_icon" (click)="openDetailsDialog()">info</mat-icon>
  </div>
  <p>Released on {{currentMovie.release_date}}</p>
  <p>Duration : {{currentMovie.runtime}} minutes</p>
  <button
    *ngIf="!isInList('seen'); else alreadyViewedLabel"
    (click)="addToList('seen')"
    class="already_seen_button"
    mat-raised-button>Add to already viewed movies
    <mat-icon>visibility</mat-icon>
  </button>
  <ng-template #alreadyViewedLabel>
    <div class="list_item_div seen">
      <p class="list_item_label">Marked as already viewed</p>
      <mat-icon class="list_item_icon">check</mat-icon>
    </div>
  </ng-template>
  <button
    *ngIf="!isInList('mustSee'); else mustSeeLabel"
    (click)="addToList('mustSee')"
    class="must_see_button"
    mat-raised-button>Add to must see movies
    <mat-icon>edit</mat-icon>
  </button>
  <ng-template #mustSeeLabel>
    <div class="list_item_div must_see">
      <p class="list_item_label">Marked as must see</p>
      <mat-icon class="list_item_icon">check</mat-icon>
    </div>
  </ng-template>
  <app-rating *ngIf="currentMovie.vote_average" [ratingValue]="currentMovie.vote_average"></app-rating>
</div>
