img {
  height: 100%;
  width: auto;
}

.movie_infos {
  margin-left: 10px;
  width: 100%;
}

.movie_infos .movie_title {
  margin-top: 0;
  font-size: 26px;
  font-weight: bold;
  color: gray;
}

.movie_infos .movie_infos_head {
  display: flex;
  justify-content: space-between;
}

.movie_infos .rating {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.movie_infos .movie_infos_head .infos_icon {
  font-size: 40px;
  color: gray;
  margin-right: 15px;
  cursor: pointer;
}
