.media-component {
  height: 100%;
  width: 100%;
  display: flex;
}
.media-card {
  height: calc(100% - 34px);
  width: calc(100% - 34px);
}

.mat-card {
  background-color: #121212;
  border: 1px solid #505050;
}
